<p>user-list works!</p>
<div class="list-container">
  <h2>User List</h2>

  <div class="filters">
    <input
      type="text"
      placeholder="Search by username or role..."
      [formControl]="searchControl"
    />

    <select [formControl]="roleControl">
      <option value="">All Roles</option>
      <option *ngFor="let role of ['Admin', 'User', 'Guest']" [value]="role">
        {{ role }}
      </option>
    </select>
  </div>

  <div *ngIf="(filteredUsers$ | async) as users">
  <ng-container *ngIf="users.length > 0; else noUsers">
    <div class="card" *ngFor="let user of users">
      <h3>{{ user.username }}</h3>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Role:</strong> {{ user.role }}</p>
    </div>
  </ng-container>
</div>
<ng-template #noUsers>
  <p class="empty">No users found.</p>
</ng-template>

</div>
