<div class="form-wrapper">
  <div class="form-container">
    <h2>UPI Payment Simulator</h2>
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
      <label>Amount</label>
      <input type="number" formControlName="amount" />
      <div *ngIf="paymentForm.controls['amount'].invalid && paymentForm.controls['amount'].touched" class="error">
        Amount is required and must be > 0
      </div>

      <label>Customer Name</label>
      <input type="text" formControlName="name" />
      <div *ngIf="paymentForm.controls['name'].invalid && paymentForm.controls['name'].touched" class="error">
        Name is required
      </div>

      <label>Email</label>
      <input type="email" formControlName="email" />
      <div *ngIf="paymentForm.controls['email'].invalid && paymentForm.controls['email'].touched" class="error">
        Enter a valid email
      </div>

      <label>Contact Number</label>
      <input type="text" formControlName="contact" />
      <div *ngIf="paymentForm.controls['contact'].invalid && paymentForm.controls['contact'].touched" class="error">
        Enter a valid 10-digit contact number
      </div>

      <button type="submit" [disabled]="paymentForm.invalid || isSubmitting">
        {{ isSubmitting ? 'Processing...' : 'Procced with Razor Pay' }}
      </button>
    </form>
  </div>
</div>
